**1-Write a Python program to calculate the length of a string using 2 ways

In [39]:
a="samah"
len(a)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [54]:
s='w3resource'
if len(s)>2:
     print(s[0:2]+s[-2:])

w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [59]:
s= 'abcing'
if len(s)>2:
    if s[-3:]=="ing":
        s=s+"ly"
    else:
        s=s+"ing"
print(s)

abcingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
list1=["retajjj","rowan","alaa","renad"]

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [11]:
s1="hsi"
start=s1[0]
end=s1[-1]
print(end+s1[1:-1]+start)

ish

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [105]:
list1="abca"
l=len(list1)
list2=" "
for i in  range(l):
    if i%2 ==0:
        list2+=list1[i]
print(list2)

 ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [31]:
count=dict()
words="amr and ahmed are frindes but amr is the tallest"
samah=words.split()

for word in samah:
    if word in count:
        count[word]+=1
    else:
        count[word]=1
print(count)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [37]:
l=input("enter name")
print(l.upper())
print(l.lower())

enter nameretaj
RETAJ
retaj

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [42]:
s1="tajo"
s=len(s1)
if s%4==0:
    s1=s1[::-1]
print (s1)

ojat

**10- Write a Python program to remove a newline in Python

In [55]:
s1="samah\n"
s2=" shokia\n"
print(s2.rstrip())

 shokia

**11-Write a Python program to check whether a string starts with specified characters

In [57]:
def DoStart(a):
    s1="tajo"
    
    for i in s1:
        if i==s1[0]:
            print("it does")
DoStart("t")

it does

**12- Write a Python program to add prefix text to all of the lines in a string

In [69]:
s1="samah"
prefix="sara"
s2=prefix+s1
s2

'sarasamah'

**13-Write a Python program to print the following numbers up to 2 decimal places

In [71]:
x=3.1444444
print("{:.2f}".format(x))

3.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [87]:
x=3.14445
y=-12.321
print("{:+.2f}".format(y))#len el - lma td5ol 3l + 7tdini - brdo

-12.32

**15-Write a Python program to display a number with a comma separator

In [88]:
x=3400000
print("{:,}".format(x))

3,400,000

**16-Write a Python program to reverse a string using 2 ways

In [96]:
s1="samah"
s2=len(s1)
#print(s1[::-1])
s3=""
for i in s1:
    s3=i+s3
print(s3)

hamas

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [152]:
s1="samoaarrr"
list1=[]
list3=[]
for i in s1:
    if i not in list1:
        list1.append(i)
        count+=1
    elif i in list1 and i not in list3:
        count+=1
        list3.append(i)
list3

['a', 'r']

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
s1="ahkanle"
s2=len(s1)
count={}
for i in s2:
    if i in s1:
        count+=1

**19-Write a Python program to remove spaces from a given string

In [85]:
s1="ahlan 3mla eh eh el a5bar"
s2=s1.replace(" ","")
s2

'ahlan3mlaehehela5bar'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [129]:
s1="          tajo"
s2=len(s1)
l=(s2*(s2+1)/2)
int(l)

105

**21-write a Python program to swap first and last element of any list.

In [120]:
list1=[2,3,4,5]

x=list1[0]
list1[0]=list1[-1]
list1[-1]=x
print(list1)

[5, 3, 4, 2]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [127]:
list1=[19, 65, 23, 90]
l=len(list1)
list2=[]
o=2
x=1
u=4
for i in range(l-1):
    if i==x :
        for z in range(l-1):
            if z==u:
                o=i
                list1[i]=list1[z]
                list1[z]=list[o]
            

print(list1)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [131]:
list1=[3,4,53,2,1]
max=list1[0]
for i in list1:
    if i>max:
        max=i
max

53

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [132]:
list1=[1,3,4,5,8]
min=list1[0]
for i in list1:
    if i<min:
        min=i
min

1

**26-search for if an elem is existing in list

In [99]:
list1=[1,3,4,5,8]
n=8
for i in list1:
    if i==n:
        print("found")

found

**27- clear python list using different ways

In [98]:
list1=[1,3,4,5]
print(list1)
del list1
print(list1)

[1, 3, 4, 5]

NameError: name 'list1' is not defined

**28-remove duplicated elements from a list

In [98]:
list1=[4,5,6,5,42,1,2,2,6,6]
list2=[]
for i in list1:
    
    if i not in list2:
        list2.append(i)
    else:
        continue
print(list2)

[4, 5, 6, 42, 1, 2]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [146]:
value = ["Gfg", 3, "is", 8]
key = ["name", "id"] 
l1=[{key[i]:value[i]}for i in range(len(key))]
l1

[{'name': 'Gfg'}, {'id': 3}]

**30-write a python program to count unique values inside a list using different ways

In [116]:
list1=[4,5,6,2,4,3,1,1,33]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
    else:
        continue
print(list2)

[4, 5, 6, 2, 3, 1, 33]

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [110]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
list2=[]
list3=[]
count=0
for i in test_list:
    if i not in list2:
        list2.append(i)
        count+=1
    elif i in list2:
        count+=1 
        if count>k and i not in list3:
            list3.append(i)
            
print(list3)

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [97]:
def getMaxA(arr):
    l=len(arr)
    arr2=[]
    for i in range (l):
        r=max(arr[i],arr[i-1])
        arr2.append(r)
        #print(arr[i-1])
    print(arr2)
list1=[5,8,6,4,1,9,4]
getMaxA(list1)

[5, 8, 8, 6, 4, 9, 9]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [156]:
from itertools import permutations
list1=[1, 2, 3]
perms=permutations(list1)
for perm in perms:
    print("#","".join(map(str,perm)))

# 123
# 132
# 213
# 231
# 312
# 321

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [149]:
list1 = [(4, 5, 5, 4), (5, 4, 3)]
k=5
n=2
l1=[i for i in list1 if i.count(k)==n]#i item in a list w e7na hna 3ndna tuples k ielements w i gwah k elements
l1

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [17]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array[0])):
    
    sortedArr=sorted(array,key=lambda x:x[i])
print("{},{}".format(i,sortedArr))

2,[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [25]:
dict1={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
for i in (dict1):
    print(sorted(dict1))

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [66]:
K = 7#3izen nktebha
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : "CS"}
res={key:val for key,val in test_dict.items() if isinstance(val,int)and val<K}
print(res)

{'Gfg': 3, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:

dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict4={}
for i in(dic1,dic2,dic3):
    dict4.update(i)
dict4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
dict1={'a':1,'b':5,'c':4}
dict2={'a':8,'t':3,'h':4}

**44- Write a Python script to merge two Python dictionaries

In [89]:
dict1={'a':1,'b':5,'c':4}
dict2={'a':8,'t':3,'h':4}
dict3={}
dict3=dict1.copy()
dict3.update(dict2)
dict3

{'a': 8, 'b': 5, 'c': 4, 't': 3, 'h': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [83]:
dict1={'l':2,'d':8,'e':4,'a':12}
maxx=max(dict1,key=dict1.get)
maxx

'a'

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [77]:
dict={'c1': 'Red', 'c2': 'Green', 'c3': None} 
dict={key:value for (key,value)in dict.items() if value is not None}
dict

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [74]:
tup=(1,5,7,6)
for i in tup:
    print(i)

1
5
7
6

**48-Write a Python program to unpack a tuple into several variables

In [73]:
tup=(1,3,5)
n1,n2,n3=tup
print(n1)

1

**49-Write a Python program to add an item to a tuple

In [71]:
list1=[5,7,{12,3},'a','b']
def addTup(ll):
    l=input("enter item")
    list1.append(l)
    print (list1)
addTup(list1)

enter item5
[5, 7, {3, 12}, 'a', 'b', '5']

**50-Write a Python program to convert a tuple to a string

In [70]:
tup1=('a','b','ams')
tup2=str(tup1)
print(tup2)

('a', 'b', 'ams')

**51-Write a Python program to convert a list to a tuple

In [68]:
list1=[6,'s',9,{7,9}]
tup1=tuple(list1)
print (tup1)

(6, 's', 9, {9, 7})

**52-Write a Python program to reverse a tuple

In [66]:
tup=(1,4,3,10)#tuples are immutable
tup1=tup[::-1]
print(tup1)

(10, 3, 4, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [64]:
 list1= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1]+(100,)for t in list1])#a5dna el elements el f kol tuple(t) m3ada aer elementt[:-1]as en el -1 not included w add 100 mkano

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [38]:
def getListt(listt):
    l=tuple(listt)
    return l
    
list1=['p','y','t','h','o','n']
getListt(list1)

('p', 'y', 't', 'h', 'o', 'n')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [35]:
tup1=(1,3,2)
sum=0
counter=0
for i in tup1:
    counter+=1
    sum+=i
avge=sum/counter
print(avge)

2.0

**56-Write a Python program to add member(s) to a set.

In [32]:
def appList():
    list1=[]
    while (True):
        a=input("enter the item you want to append or b to exit")
        if a!="bye":
            list1.append(a)
            
        elif a=="bye":
            return list1
            break
appList()

enter the item you want to append or b to exita
enter the item you want to append or b to exitd
enter the item you want to append or b to exitf
enter the item you want to append or b to exitc
enter the item you want to append or b to exitbye

['a', 'd', 'f', 'c']

**57-Write a Python program to remove an item from a set if it is present in the set.

In [16]:
list1=['a','b','c',1]

def remSet(listey):
  
    l=input("enter the item you're searching for")
    for i in listey:
        if l==i:
            listey.remove(i)
        return listey
remSet(list1)

enter the item you're searching fora

['b', 'c', 1]

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
from collections import Counter
from itertools import chain
set1={"a","v","c","a","b"}
set2={"a","m","m","c","s","a","d","e"}
set3={"a","x","z"}
list1=[{"a","v","c","a","b"},{"a","m","m","c","s","a","d","e"}
,{"a","x","z"}]
def getIntDifU(listt):
    
    while(True):
        l=input("enter u for union,d for diff,i for int,bye to exit")
        if l=="d":
            freq=Counter(chain.from_iterable(listt)) #flatten the list 
            result={index for index in freq if freq[index]==1}
            return result
        elif l=="u":
           # freq=Counter(chain.from_iterable(listt)) #flatten the list 

            set1=set.union(*listt)
            return set1
        elif l=="i":
            #flatten the list 
            set2=set.intersection(*listt)
            return set2
        elif l=="bye":
            break
        
        

    

getIntDifU(list1)

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
list1=[1,4,5,32,2,1,2,8,6,9]
def retMax(list):
    x=list1[0]
    for i in list1:

        if i>x:
            x=i
    return x

        

retMax(list1)
#print(x)

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:

list1=[2,50,1,10,6,4,3,7]
def retSum(list2,m):
    set1=set(list2)
    sumPairs=[]
    for i in  (set1):
        diff=m-i
        if diff in set1:
            sumPairs.append({i,diff})#e7na bn append f set mtnsi4 el curly braces
    return sumPairs
        
        
retSum(list1,7)